h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.flexContainer {
    display: flex;
    background-color: rgb(154, 180, 206);
    justify-content: center;
}

.flexContainer > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 33%;
    text-align: center;
  }

  .flexContainer > div >image {
    max-width: 100%;
}
  .projectLogo1 {
      grid-area: logo1;
      border: 1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
    }
  .projectDescription1 {
      grid-area: description1;
      border: 1px solid rgba(0, 0, 0, 0.8);
      background-color: rgb(204, 194, 228);
    }
  .projectLogo2 {
      grid-area: logo2;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.8);
    }
  .projectDescription2 {
      grid-area: description2;
      border: 1px solid rgba(0, 0, 0, 0.8);
      background-color: rgb(204, 194, 228);
    }

  .workGrid {
    display: grid;
    grid-template-areas:
    'logo1 description1'
    'logo2 description2';
    grid-gap: 10px;
    background-color: #92bee2;
    padding: 10px;
  }

  @media only screen and (max-wdith:600) {
    .flexContainer {
        flex-direction: column;
      }

    .flexContainer > div {
        width: 100%;
    }

    .workGrid {
        grid-template-areas:
        'logo1'
        'description1' 
        'logo2'
        'description2'
    }
    
  }

  .navigation {
    background-color: rgb(154, 180, 206);
    width: 100%;
    position: sticky; top: 10px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 3px 10px 0px 10px;
}

.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 85%;
    padding: 1%;
    text-align: right;

}

ul {
    width: 50%;
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: auto;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
.heroImg {
    padding: 25px;
}

.content {
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

footer {
    background-color:rgb(154, 180, 206);
    width: 100%;
    position: bottom;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.topmenu {
    float: right;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: #e6e600;
    text-decoration: none;
}
a:hover {
    color: #ffff00;
    text-decoration: none;
}
a:active {
    color: #e6e600;
    text-decoration: none;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }