.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}

nav {
  width: 63%;
  padding: 1%;
}

ul {
  width: 50%;
  margin-left: auto;
}

.heroimg {
  height: 600px;
  padding: 25px;
}

.content {
  width: 500px;
  margin: 0 auto;
}

footer {
  background-color: #373738;
  padding: center;
}

footer ul {
  display: inline-block;
  vertical-align: top;
  padding: center;
}

.navigation {
  background-color: #330033;
  width: 100%;
  position: sticky; top: 10px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 3px 10px 0px 10px;
}

.logo {
  width: 10%;
  padding: 1%;
  text-align: center;
}

nav {
  width: 85%;
  padding: 1%;
  text-align: right;

}

ul {
  width: 50%;
  margin-left: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: auto;
  color: #e6e600;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
.heroImg {
  padding: 25px;
}

.content {
  width: 400px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

footer {
  background-color: #330033;
  width: 100%;
  position: bottom;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.topmenu {
  float: right;
}

a:link {
  color: #e6e600;
  text-decoration: none;
}
a:visited {
  color: #e6e600;
  text-decoration: none;
}
a:hover {
  color: #ffff00;
  text-decoration: none;
}
a:active {
  color: #e6e600;
  text-decoration: none;
}

html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}